
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: "Titillium Web", "Roboto Condensed", "Helvetica", "Arial", sans-serif;
}


body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    grid-area: header;
    background-color: #012169;
    color: #C8102E;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}



main {
    grid-area: main;
    padding: 20px;
    background-color: #ffffff;
}

footer {
    grid-area: footer;
    background-color: #012169;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* ^^ grid layout of main sections */


main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "introduction"
        "geography"
        "people"
        "transportation";
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}



section {
    border: 1px solid #FF9900;
    padding: 20px;
}



#Introduction {
    grid-area: introduction;
}

#Geography {
    grid-area: geography;
}

#PeopleAndSociety {
    grid-area: people;
}

#Transportation {
    grid-area: transportation;
}


/* ^^^grid layout of information sections */



table {
    width: 100%;
    border-collapse: collapse;
}


th {
    background-color: #f2f2f2;
    padding: 8px;
    border: 1px solid #ddd;
}


td {
    padding: 8px;
    border: 1px solid #ddd;
}


/* table format^  */

footer a {
    color: #99CCFF; 
    text-decoration: none; 
}

footer a:visited {
    color: rgb(178, 1, 178);
}

footer a:hover {
    color: #FF9900; 
    text-decoration: underline; 
}

footer a:active {
    color: #C8102E;
}
/* link syling^ */
