/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Global styles */
body {
    font-family: "Titillium Web", "Roboto Condensed", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

/* All heading tags centered and with increased font sizes */
h1, h2, h3, h4, h5, h6 {
    text-align: center; /* Centers all headings */
    font-size: 150%; /* Increases font size by 20% */
}

header {
    background-color: #a30404;
    color: #fff;
    padding: 10px 0; /* Adjusted padding */
    font-size: 24px; /* Specific font size for header */
}

/* Sticky Navigation */
nav {
    background-color: #f4f4f4;
    padding: 5px 0; /* Adjusted padding */
    width: 100%; /* Ensures the nav spans the full width of the viewport */
    position: sticky; /* Sticky positioning */
    top: 0; /* Keeps nav at the top of the viewport */
    z-index: 1010; /* Ensures nav is above other content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds shadow for depth */
    border-bottom: 1px solid #ccc; /* Subtle border for definition */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 5px 10px; /* Spacing between menu items */
}

nav ul li a, footer a {
    text-decoration: none;
    color: #333;
    font-size: 14px; /* Smaller font size */
    padding: 8px 12px; /* Adjusted padding */
    background-color: #e8e8e8; /* Light grey background */
    border: 1px solid #ccc; /* Grey border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for 3D effect */
    display: block; /* Makes the link fill the li element */
}

nav ul li a:link, footer a:link {
    color: #333; 
}

nav ul li a:visited, footer a:visited {
    color: #a30404; /* Purple for visited links */
}

nav ul li a:hover, footer a:hover {
    background-color: #ddd; 
    color: #551a8b; 
}

nav ul li a:active, footer a:active {
    background-color: #ccc; 
    color: #020a9a; 
}

main {
    padding: 20px;
}

#introduction {
    margin-bottom: 40px;
    background-color: #f9f9f9; /* Light background similar to navigation */
    border: 1px solid #ccc; /* Subtle border like navigation */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
    padding: 15px; /* Padding around content */
}

#introduction .creator-info img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* Text content styling for optimal reading */
p, li {
    max-width: 960px; /* Limit width for readability, approx 60 characters */
    margin-left: auto;
    margin-right: auto;
}

/* Box styling for wood and ink image categories */
.work-category {
    margin-bottom: 40px;
    background-color: #f9f9f9; /* Light background similar to navigation */
    border: 1px solid #ccc; /* Subtle border like navigation */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
    padding: 15px; /* Padding around content */
}

.ink-image {
    margin-bottom: 40px;
    background-color: #f9f9f9; /* Light background similar to navigation */
    border: 1px solid #ccc; /* Subtle border like navigation */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
    padding: 15px; /* Padding around content */
    text-align: center; /* Center aligns images */
}

.work-category .image-grid, .ink-image .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.work-category img, .ink-image img {
    flex: 1 1 auto;
    max-width: 100%;
    height: auto;
    min-width: 250px;
    width: auto;
}

.single-image-section .image-grid, .ink-image .single-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.single-image-section img, .ink-image img {
    max-width: 50%;
    height: auto;
}

footer {
    background-color: #a30404;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 16px; /* Increased font size for better readability */
    z-index: 1000; /* Ensure the footer is above other content */
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        text-align: center;
    }

    nav ul li a {
        display: block;
        padding: 10px;
    }
}
